[submodule "blockgame-guide"]
	path = blockgame-guide
	url = git@github.com:ghzeni/blockgame-guide.git
[submodule "blockgame-hydrated"]
	path = blockgame-hydrated
	url = https://github.com/ghzeni/blockgame-hydrated
[submodule "blockgame-registry"]
	path = blockgame-registry
	url = https://github.com/ghzeni/blockgame-registry
[submodule "blockgame-enhanced"]
	path = blockgame-enhanced
	url = https://github.com/jb0s/blockgame-enhanced
[submodule "blockgame-profiles"]
	path = blockgame-profiles
	url = https://github.com/blackjack26/blockgame-profiles
[submodule "blockgame-journal"]
	path = blockgame-journal
	url = https://github.com/blackjack26/blockgame-journal
